@keyframes background-pan {
	from {
	    background-position: 0% center;
	}
	to {
	    background-position: -200% center;
	}
}

body {
	background: linear-gradient(to right, #541389 5%, #c45ab4, #fe6f61, #c45ab4, #541389);
	background-size: 200%;
	animation: background-pan 10s linear infinite;

	height: 100vh;
	overflow: hidden;

	color: white;
	font-family: Consolas, Arial;
}

#tiles {
	height: 100vh;
	width: 100vw;

	display: grid;
	grid-template-columns: repeat(var(--cols), 1fr);
	grid-template-rows: repeat(var(--rows), 1fr);
}

.tile {
	position: relative;
	transform: translate(-8px, -8px);
}

.tile:before {
	background-color: #111;
	content: '';
	inset: 0.5px;
	position: absolute;
}

#container {
	position: absolute;
	top: 15%;
	left: 20%;

	width: 60%;
	height: 500px;
}

.panel {
	position: relative;
	margin-top: 25px;

	padding: 25px;
	border: solid #FFFFFF22 2px;
	border-radius: 10px;
	background-color: black;

	font-weight: bold;
	text-align: center;
	font-size: 60px;

	transition: .5s;
}

.panel:hover {
	transform: translate(0, -5px);
	box-shadow: 0 0 25px #FFFFFF38;
	border-color: #FFFFFF88;
	background-color: #080808;
}

.link > span {
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	z-index: 1;
}
