:root {
	/*--bg-color: #191919;*/
	--bg-color: black;
	--panel-bg-color: #111;
	--text-color: 255, 255, 255;
}

body {
	background-color: var(--bg-color);

	height: 100vh;
	overflow: hidden;
	transform: translate(-8px, -8px);

	color: rgb(var(--text-color));
	font-family: Consolas, Arial;
}

#container {
	top: 15%;
	left: 20%;

	width: 60%;
	height: 500px;

	position: absolute;
}

@keyframes pulse {
	from {
		color: rgba(var(--text-color), 0.4);
	}
  to {
		color: rgba(var(--text-color), 0.6);
	}
}

.panel {
	margin-top: 25px;
	position: relative;

	padding: 25px;
	background:
		linear-gradient(transparent 97%, rgba(255, 255, 255, 0.02)),
		radial-gradient(ellipse at center -100%, rgba(255, 255, 255, 0.05), transparent 60%),
		linear-gradient(rgba(255, 255, 255, 0.05), transparent 50%),
		linear-gradient(transparent 50%, rgba(0, 0, 0, 0.6)),
		var(--panel-bg-color);
	box-shadow: 
		inset 0 5px 3px -4px var(--bg-color),
		inset 0 -5px 3px -4px var(--bg-color);

	border-image: linear-gradient(to bottom, var(--bg-color), rgba(255, 255, 255, 0.05) 5%, transparent 95%, var(--bg-color)) 1;
	border-left: 4px solid;
	border-right: 4px solid;

	/*
	border-radius: 10px;
	border: solid #FFF2 2px;
	background-color: black;
	box-shadow: 0 0 25px #000;
	*/

	color: rgba(var(--text-color), 0.8);
	text-shadow: 0 0 40px #000;
	
	font-size: 60px;
	font-weight: bold;
	font-style: italic;
	text-align: center;

	transition: 0.1s;
}

.panel > .gt {
	color: rgba(var(--text-color), 0.25);
	position: absolute;
}

.panel:hover > .gt {
	animation: pulse 0.75s ease-out alternate infinite;
}

.panel:active {
	box-shadow: 
		inset 0 15px 9px -12px var(--bg-color),
		inset 0 -15px 9px -12px var(--bg-color);

	transform: scale(0.996);
}

.panel:active > text {
	transform: scale(0.996);
}

.panel:focus {
	outline: none;
}

/*
.panel:hover {
	border-color: #FFF8;
	background-color: #080808;
	transform: translate(0, -5px);
	box-shadow: 0 0 25px #FFFFFF38;
}
*/

.link > span {
	width: 100%;
	height: 100%;

	top: 0;
	left: 0;
	position: absolute;

	z-index: 1;
}
